@font-face {
  font-family: 'NotoNaskhArabic';
  font-weight: 400;
  src: url('NotoNaskhArabic-Regular.ttf');
}

@font-face {
  font-family: 'NotoNaskhArabic';
  font-weight: 700;
  src: url('NotoNaskhArabic-Bold.ttf');
}