@font-face {
  font-family: 'NotoKufiArabic';
  font-weight: 400;
  src: url('NotoKufiArabic-Regular.ttf');
}

@font-face {
  font-family: 'NotoKufiArabic';
  font-weight: 700;
  src: url('NotoKufiArabic-Bold.ttf');
}