/* Normal */
@font-face {
  font-family: 'Swissra';
  font-style: normal;
  font-weight: 300;
  src: url('Swissra/Swissra-Light.ttf');
}

@font-face {
  font-family: 'Swissra';
  font-style: normal;
  font-weight: 400;
  src: url('Swissra/Swissra-Normal.ttf');
}

@font-face {
  font-family: 'Swissra';
  font-style: normal;
  font-weight: 500;
  src: url('Swissra/Swissra-Medium.ttf');
}

@font-face {
  font-family: 'Swissra';
  font-style: normal;
  font-weight: 700;
  src: url('Swissra/Swissra-Bold.ttf');
}